.race-tabs {
  height: 25%;
  display: flex;
  font-size: 13px;
  margin-left: 20%;
  align-items: center;
  color: white;
}

.tab-selectors {
  width: 25%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  border-radius: 10px;
  box-shadow: 0 0 15px black;

  height: 100%;
  background: #111c32;
  transform: skew(30deg);
  cursor: pointer;

  .active {
    transition: .3s;
    border-bottom: solid 3px cyan;
  }

  h2 {
    width: 100%;
    height: 100%;
    transition: .1s;
    border-radius: 10px;
    align-content: center;
    box-shadow: 0 10px 10px black;
    border-bottom: transparent 0px solid;
  }
}

.tab-display {
  width: 63%;
  height: 73%;
  padding: 2% 2% 0% 2%;
  border-radius: 0 10px 10px 0;
  background: gray;
  color: #111c32;

  overflow-y: scroll;
  box-shadow: inset 0 0 20px black;

  transform: skew(30deg);
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 1.8em;

  h2 {
    position: absolute;
    transform: translateX(-110%);
  }

  h2.active {
    color: white;
    transform: translateX(0%);
    text-transform: uppercase;
    white-space: pre-line;
    transition: .5s;
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: #111c32;
  border-radius: 45px;
  box-shadow: inset 0 0 8px rgb(71, 143, 143);
}