main {
  width: 100%;
  height: calc(100svh - 100px);
  position: relative;
  overflow: hidden;
  display: flex;
}

.shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  filter: drop-shadow(-10px 0px 15px);
}

.race-display {
  width: 100%;
  background: #363636;
  box-shadow: inset 0 0 30px;
  align-items: center;
  padding-left: 40px;
  display: flex;
}

.race-selector {
  right: 24.5%;
  height: 70%;
  bottom: 0;
  width: 35%;
  position: absolute;
  background-color: #363636;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);

  display: grid;
  grid-template-columns: repeat(5, 11%);
  grid-template-rows: repeat(3, 20%);
  justify-content: center;
  justify-items: center;
  align-content: center;
  pointer-events: all;
}

.race-info {
  right: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #363636;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%);

  display: flex;
  pointer-events: all;
  flex-direction: column;
}

.race-container {
  width: 170%;
  height: 180%;
  display: flex;
  cursor: pointer;
  transition: .3s;
  overflow: hidden;
  filter: blur(3px);
  align-items: center;
  justify-content: center;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.race-container:hover {
  transform: scale(1.3);
  filter: blur();
  z-index: 1;
}

.race-active {
  cursor: pointer;
  filter: blur();
}

.race-selector :nth-child(1) {
  grid-column: 3;
  grid-row: 1;
}

.race-selector :nth-child(2) {
  grid-column: 2;
  grid-row: 2;
}

.race-selector :nth-child(3) {
  grid-column: 4;
  grid-row: 2;
}

.race-selector :nth-child(4) {
  grid-column: 1;
  grid-row: 3;
}

.race-selector :nth-child(5) {
  grid-column: 3;
  grid-row: 3;
}

.race-selector :nth-child(6) {
  grid-column: 5;
  grid-row: 3;
}

.animar-texto {
  font-size: 3.3em;
  text-align: center;
  font-family: Astro;
  line-height: 2;

  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(22), blink step-end infinite alternate;
}

.animar-img {
  width: 40%;
  justify-items: center;
  filter: drop-shadow(0 0 30px);

  animation: fadeIn .3s ease-in;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}