main {
  height: calc(100svh - 100px);
  width: 100%;
  display: flex;
  position: relative;
}

.shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: drop-shadow(-10px 0px 15px);
}

.race-display {
  width: 100%;
  background: #363636;
  box-shadow: inset 0 0 30px;

  img {
    width: 40%;
    justify-items: center;
    padding: 40px 0 0 40px;
    filter: drop-shadow(0 0 30px);
  }
}

.race-selector {
  right: 24.5%;
  height: 100%;
  width: 34%;
  position: absolute;
  background-color: #363636;
  clip-path: polygon(50% 30%, 100% 100%, 0% 100%);
}

.race-info {
  z-index: 1;
  right: 0;
  width: 49%;
  height: 100%;
  position: absolute;
  background-color: #363636;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%);

  display: flex;
  flex-direction: column;
  /* align-items: center; */

  h1 {
    font-size: 72px;
    text-align: center;
    font-family: Astro;
    line-height: 2;
  }
}
