header {
  gap: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

span,
a {
  width: 20%;
  height: 270px;
  display: flex;
  flex-shrink: 0;
  transition: 0.5s;
  border-radius: 20px;
  transform: skew(30deg);
  background-color: gray;
  box-shadow: inset 0 0 15px black;
  background-position: center;
  background-size: cover;
  position: relative;
  outline: none;
}

a {
  h1 {
    opacity: 0;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    writing-mode: sideways-rl;
  }

  &:hover {
    z-index: 1;
    height: 100%;
    cursor: pointer;
    box-shadow: 0 0 15px black;
    transform: scale(1.3) skew(30deg);

    h1 {
      z-index: 1;
      opacity: 1;
      animation: fadeIn 1s;
      padding-left: 30px;
    }

    h1::before {
      content: '';
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      position: absolute;
      background: black;
      box-shadow: 50px 0 15px black;
    }
  }
}

.alternado{
  gap: 0;
  height: 100px;
  transition: .3s;

  span, a{
    height: 100%;
    border-radius: 0;
  }

  h1{
    opacity: 1;
    width: 100%;
    font-size: 20px;
    align-items: center;
    writing-mode: horizontal-tb;
    backdrop-filter: blur(3px);
  }&:hover{
    h1{
      padding: 0;
      animation: none;
    }

    h1::before{
      width: 0;
    }
  }
}