.shadow-race {
  width: 55%;
  height: 45%;
  margin-top: 3%;
  margin-left: 35%;
  transform: skew(30deg);
  filter: drop-shadow(0px 0px 3px);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  h2 {
    color: white;
    font-size: 1.5em;
    font-family: Astro;
    letter-spacing: 5px;
    transform: skew(-30deg);
  }

  .status-container {
    align-items: center;
    display: flex;
    height: 30%;
  }

}

@property --progress {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.progress {
  width: 45%;
  height: 100%;
  
  transition: --progress .5s ease;
  transform: skew(-30deg) scaleX(-1);
  background: conic-gradient(var(--color) var(--progress), #363636 0deg);
  mask-image: url("../../../public/assets/imgs/dot.png");
  mask-size: cover;
}